<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Df_Config:etc/system_file.xsd"
>
	<system>
		<section id='df_facebook'>
			<group
				id='like'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='120'
				translate='label'
			>
				<label><![CDATA[Like & Share]]></label>
				<dfExtension>Dfe_FacebookLike</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='product'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable on Product Pages?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>