<?xml version='1.0'?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <section id='dfe_facebook'>
            <group
                id='like'
                translate='label'
                type='text'
                sortOrder='120'
                showInDefault='1'
                showInWebsite='1'
                showInStore='1'
            >
                <label><![CDATA[Like & Share]]></label>
                <field
                    id='product'
                    translate='label'
                    type='Df\Framework\Form\Element\Checkbox'
                    sortOrder='1'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Enable on Product Pages?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
                    <comment><![CDATA[]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>